mods
shaderpacks
resourcepacks
xaero*
xaero
saves
schematics
logs
local
moonlight-global-datapacks
dynamic-data-pack-cache
dynamic-resource-pack-cache
downloads
debug
crash-reporter
options.txt
servers.dat
servers.dat_old
command_history.txt
ponders_watched.json
usernamecache.json
usercache.json
session.lock
crash-reports
