mods
shaderpacks
resourcepacks
xaero*
xaero
saves
schematics
logs
local
moonlight-global-datapacks
dynamic-data-pack-cache
downloads
debug
crash-reporter
options.txt
servers.dat
servers.dat_old
command_history.txt